<div>
  <div class="course-title">
    <div ng-if="ctrl.editing" ng-include="'components/main/directives/course-card/partials/course-edit-view.html'"></div>
    <div ng-if="!ctrl.editing" ng-include="'components/main/directives/course-card/partials/course-regular-view.html'"></div>
  </div>
  <div>
    <div ng-if="gpCourse.components">
      <div class="panel-group" id="accordion">
        <div ng-repeat="component in gpCourse.components" class="panel panel-default" >
          <gp-component-card gp-course-ctrl="ctrl" gp-component="component" gp-editing="false"></gp-component-card>
        </div>
      </div>
    </div>
    <gp-component-card ng-if="ctrl.addingComponent" gp-course-ctrl="ctrl" gp-editing="true"></gp-component-card>
    <button id="newComponentButton{{gpCourse.id}}" ng-if="!ctrl.addingComponent" ng-click="ctrl.showNewComponent()" type="button" class="btn btn-default">
      &plus; Add a component
    </button>
  </div>
</div>
