<div ng-if="ctrl.editing" ng-include="'components/main/directives/component-card/partials/component-edit-view.html'" class="panel-heading"></div>
<div ng-if="!ctrl.editing" ng-include="'components/main/directives/component-card/partials/component-regular-view.html'" ng-click="ctrl.toggleSelect()" class="clickable panel-heading"></div>
<div ng-show="ctrl.isSelected" class="panel-collapse collapse in">
  <div class="panel-body">
    <section ng-if="ctrl.component.grades">
      <gp-grade-card ng-repeat="grade in ctrl.component.grades" gp-component-ctrl="ctrl" gp-grade="grade" gp-editing="false"></gp-grade-card>
    </section>
    <gp-grade-card ng-if="ctrl.addingGrade" gp-component-ctrl="ctrl" gp-editing="true"></gp-grade-card>
    <button id="newGradeButton{{ctrl.component.id}}" ng-if="!ctrl.addingGrade" ng-click="ctrl.showNewGrade()" type="button" class="btn btn-default">
      &plus; Add a grade
    </button>
  </div>
</div>
