<div class="container">
  <header class="row">
    <div class="col-md-8 col-xs-8 col-md-offset-1">
      <h1>My Courses</h1>
    </div>
    <div class="form-group col-md-2 col-xs-4 text-center add-course-button">
      <button id="newCourseButton" ng-if="!ctrl.addingCourse" ng-click="ctrl.showNewCourse()" type="button" class="btn btn-default pull-right">&plus; Add a course</button>
    </div>
  </header>
  <aside class="flash row">
    <article flash-alert duration="0" active-class="alert" class="col-md-10 col-md-offset-1">
      {{flash.message}}
    </article>
  </aside>
  <section class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="input-group">
        <input ng-model="keywords" name="keywords" type="text" autofocus class="form-control" placeholder="Course name">
        <span class="input-group-btn">
          <button ng-click="ctrl.search(keywords)" class="btn btn-primary" type="button">Search</button>
        </span>
      </div>
    </div>
  </section>
  <hr>
  <section ng-if="ctrl.courses">
    <gp-course-card ng-repeat="course in ctrl.courses" gp-parent-ctrl="ctrl" gp-course="course" gp-editing="false"></gp-course-card>
  </section>
  <gp-course-card ng-show="ctrl.addingCourse" gp-parent-ctrl="ctrl" gp-editing="true"></gp-course-card>
  </div>

</div> <!-- end of container -->
