<div class="wrapper">
  <header class="header">
    <aside class="flash row">
      <div flash-alert duration="3500" active-class="in alert" class="fade">
        <button type="button" class="close" ng-click="hide()">&times;</button>
        {{flash.message}}
      </div>
    </aside>
  </header>
  <aside class="aside sidebar">
    <div>
      <input name="keywords" type="text" placeholder="Find a Course"
        ng-model="keywords" ng-keyup="$event.keyCode == 13 ? ctrl.search(keywords) : null"
        uib-typeahead="course.code + ' - ' + course.name for course in ctrl.courses | filter:$viewValue"
        class="form-control courses-search" onClick="this.select();">
    </div>
    <hr>
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="course in ctrl.courses" ng-class="{'active': ctrl.activeCourse == course}"><a href ng-click="ctrl.setActiveCourse(course)">{{course.code + " - " + course.name}}</a></li>
    </ul>
    <div class="sidebar-header">
      <button id="newCourseButton" ng-if="!ctrl.addingCourse" ng-click="ctrl.showNewCourse()" type="button" class="btn btn-default">&plus; Add a course</button>
    </div>
    <gp-course-card ng-if="ctrl.addingCourse" gp-parent-ctrl="ctrl" gp-course="{code: '', name: ''}" gp-editing="true"></gp-course-card>
  </aside>
  <article class="main">
    <section ng-if="ctrl.courses.length > 0">
      <gp-course-card gp-parent-ctrl="ctrl" gp-course="ctrl.activeCourse" gp-editing="false"></gp-course-card>
    </section>
  </article>
  <!-- <aside class="aside aside-2">Aside 2</aside> -->
  <footer class="footer"></footer>
</div>
