<div class="wrapper">
  <header class="header">
    <aside class="flash row">
      <article flash-alert duration="0" active-class="alert" class="col-md-10 col-md-offset-1">
        {{flash.message}}
      </article>
    </aside>
  </header>
  <aside class="aside sidebar">
    <header class="row">
      <div class="sidebar-header">
        <span class="courses-title">My courses</span>
      </div>
    </header>
    <div>
      <input name="keywords" type="text" placeholder="Find a Course"
        ng-model="keywords" ng-keyup="$event.keyCode == 13 ? ctrl.search(keywords) : null"
        uib-typeahead="course.code + ' - ' + course.name for course in ctrl.courses | filter:$viewValue"
        class="form-control courses-search" onClick="this.select();">
      <!-- <input ng-model="keywords" name="keywords" type="text" autofocus class="form-control" placeholder="Search" ng-keyup="$event.keyCode == 13 ? ctrl.search(keywords) : null"> -->
    </div>
    <hr>
    <p ng-repeat="course in ctrl.courses" class="course-title " style="margin-top: 0">
      <button type="button" class='btn btn-default course-button' ng-click="ctrl.setActiveCourse(course)">{{course.code + " - " + course.name}}</button>
    <div class="sidebar-header">
      <button id="newCourseButton" ng-if="!ctrl.addingCourse" ng-click="ctrl.showNewCourse()" type="button" class="btn btn-default">&plus; Add a course</button>
    </div>
    <gp-course-card ng-if="ctrl.addingCourse" gp-parent-ctrl="ctrl" gp-course="{}" gp-editing="true"></gp-course-card>
  </aside>
  <article class="main">
    <section ng-if="ctrl.courses">
      <gp-course-card gp-parent-ctrl="ctrl" gp-course="ctrl.activeCourse" gp-editing="false"></gp-course-card>
    </section>
  </article>
  <!-- <aside class="aside aside-2">Aside 2</aside> -->
  <footer class="footer"></footer>
</div>
