<div class="container">
  <header class="row">
    <div class="col-md-8 col-xs-8 col-md-offset-1">
      <h1>My Courses</h1>
    </div>
    <div class="form-group col-md-2 col-xs-4 text-center add-course-button">
      <button id="newCourseButton" ng-if="!showNewCourseInput" ng-click="showNewCourse(true)" type="button" class="btn btn-default pull-right">&plus; Add a course</button>
    </div>
  </header>
  <aside class="flash row">
    <article flash-alert duration="0" active-class="alert" class="col-md-10 col-md-offset-1">
      {{flash.message}}
    </article>
  </aside>
  <section class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="input-group">
        <input ng-model="keywords" name="keywords" type="text" autofocus class="form-control" placeholder="Course name">
        <span class="input-group-btn">
          <button ng-click="search(keywords)" class="btn btn-primary" type="button">Search</button>
        </span>
      </div>
    </div>
  </section>
  <hr>
  <section ng-if="courses">
    <!-- <ul class="list-unstyled"> -->
      <div class="row" ng-repeat="course in courses">
        <section ng-if="(course.id != editCourseId)" class="well col-md-10 col-md-offset-1 col-xs-12">
          <h1 class="h3 course-title col-md-9 col-xs-7" style="margin-top: 0"><a href ng-click="view(course.id)">
            {{course.code + " - " + course.name}}</a></h1>
          <div class="col-md-3 col-xs-5">
            <div class="pull-right">
              <button ng-click="edit(course.id)" class="btn btn-info">Edit</button>
              <button ng-click="delete(course.id)" class="btn btn-danger">Delete</button>
            </div>
          </div>
        </section>
        <div class="row">
          <ng-include ng-if="course.id == editCourseId" src=" 'form.html' "></ng-include>
        </div>
      </div>

    <!-- </ul> -->
  </section>
  <div class="row">
    <ng-include ng-if="showNewCourseInput" src=" 'form.html' "></ng-include>
  </div>

</div> <!-- end of container -->
