<header class="row">
  <h1 class="text-center col-md-6 col-md-offset-3">Justin's Courses</h1>
</header>
<aside class="flash row">
  <article flash-alert duration="0" active-class="alert" class="col-md-6 col-md-offset-3">
    {{flash.message}}
  </article>
</aside>
<section class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="input-group">
      <input ng-model="keywords" name="keywords" type="text" autofocus class="form-control" placeholder="Course name">
      <span class="input-group-btn">
        <button ng-click="search(keywords)" class="btn btn-primary" type="button">Search</button>
      </span>
    </div>
  </div>
</section>
<hr>
<section class="row" ng-if="courses">
  <ul class="list-unstyled">
    <li ng-repeat="course in courses">
      <section class="well col-md-6 col-md-offset-3">
        <h1 class="h3 col-md-6 text-right" style="margin-top: 0"><a href ng-click="view(course.id)">{{course.name}}</a></h1>
        <div class="col-md-6">
          <button ng-click="edit(course.id)" class="btn btn-info">Edit</button>
          <button ng-click="delete(course.id)" class="btn btn-danger">Delete</button>
        </div>
      </section>
    </li>
  </ul>
</section>
<ng-include ng-if="showNewCourseInput" src=" 'newCourseInput.html' "></ng-include>
<div class="form-group col-md-6 col-md-offset-3 text-center">
  <button id="newCourseButton" ng-if="!showNewCourseInput" ng-click="showNewCourse()" type="button" class="btn btn-default">New course</button>
</div>
