<div class="col-md-offset-3">
  <div class="new-course">
    <h4>Add a course</h4>
    <form class="form-inline">
      <div class="form-group">
        <label class="form-control-label" for="nameInput">Name</label>
        <input id="nameInput" ng-model="newCourse.name" name="name" type="text" autofocus class="form-control form-control-success" placeholder="Introductory Calculus">
      </div>
      <div class="form-group">
        <label class="form-control-label" for="codeInput">Code</label>
        <input id="codeInput" ng-model="newCourse.code" name="code" type="text" class="form-control form-control-success" placeholder="MATH 1004">
      </div>
      <button ng-click="submitCourse()" type="submit" class="btn btn-primary">&#x2713;</button>
    </form>
  </div>
</div>
