//@import "compass/css3";

$threshold: 768px;
$main-border: 2px solid #909090;

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: white;
  // border-top: 1px solid #909090;
  border-bottom: $main-border
}

.footer {
  background: white;
  border-top: $main-border
}

.sidebar {
  flex: 0 0 300px;
  // background: #d9edf7;
  background: pink;
  border-right: 1px solid #ddd;
}

.main {
  width: 468px;
  flex: 4 auto;
  text-align: left;
  background: #f7f7f7;
}

.aside .sidebar-header {
  display: inline-block;
}

.courses-title {
  font-size: 20px;
}

.course-button {
  width: 100%;
}

.courses-search {
  width: 100%;
  border-radius: 50px !important;
  border:2px solid #f7f7f7 !important;

  text-align: center;
}

.course-input {
  input {
    display: inline-block;
    width: auto;
  }
}

@media all and (max-width: $threshold) {
  .sidebar {
    order: 1;
    flex: 1 auto;
  }
  .main {
    order: 2;
    width: 100%;
  }
  .footer {
    order: 3;
  }
}
