<form class="form-inline">
  <div class="form-group">
    <input id="nameInput" ng-model="ctrl.grade.name" name="name" type="text" autofocus class="form-control form-control-success" placeholder="Name">
  </div>
  <div class="form-group">
    <input id="scoreInput" ng-model="ctrl.grade.fullScore" name="score" type="text" class="form-control form-control-success" placeholder="Grade">
  </div>
  <button ng-click="ctrl.save()" type="submit" class="btn btn-primary">&#x2713; Save</button>
  <button ng-click="ctrl.cancel()" class="btn btn-default">&#x2717; Cancel</button>
</form>
